@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{<div class="row">
    <div class="col-xl-8 offset-sm-2">
        <div id="cookieConsent" class="card" role="alert">
            <div class="col-xl-12">
                <h4 class="card-title">Use this space to summarize your privacy and cookie use policy.</h4>
            </div>
            <div class="card-footer m-auto">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info">Learn More</a>
                <button type="button" class="btn btn-success" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
    </div>
</div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}
